li.color{
    background-image: linear-gradient(45deg, #ff589B  , #ff136f);
    border-radius: 5px;
    padding: 1px;
}
.container{
    margin-bottom: 60px;
    margin-top: 5px;
}
.photos-bg{
    background-color:#fceae8;
    border-radius: 10px;
}
.carousel-inner{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
        text-decoration: none;
        background-image: linear-gradient(to Bottom, #ff589B 0% , #ff136f 100% );
        border: none;
        padding: 9px 25px;
        border-radius: 8px;
        color: white;
        cursor: pointer;
}