li.color{
        background-image: linear-gradient(45deg, #ff589B  , #ff136f);
        border-radius: 5px;
        padding: 1px;
}
.container{
        margin-bottom: 60px;
        margin-top: 5px;
}
.photos-bg{
        background-color:#fceae8;
        border-radius: 10px;
}
.carousel-inner{
        padding: 20px 40px;
}
.price{
        color: #ff136f;
}
.buy-now-button{
        text-decoration: none;
        background-image: linear-gradient(to Bottom, #ff589B 0% , #ff136f 100% );
        border: none;
        padding: 9px 25px;
        border-radius: 8px;
        color: white;
        cursor: pointer;
}
.buy-now-shoe{
        text-decoration: none;
        background-image: linear-gradient(to Bottom, #ff589B 0% , #ff136f 100% );
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 15px;
        padding: 4px 14px;
}
.card-footer{
        border-top: none;
        background-color: white;
}
.card{
        border: none ;
        box-shadow: 5px 5px 10px lightgray;
        border-radius: 10px;
}
#Subscribe{
        border-radius: 10px;
        width: 100%;
        height: 300px;
}
#Subscribe h6{
        color: gray;
}
.colors, .colors2, .colors3{
        padding: 10px 30px;
        border-radius: 10px;
}
.colors{
        background-image: linear-gradient(45deg, rgb(246, 52, 130)  , #fb0262);
}
.colors2{
        background-image: linear-gradient(45deg, rgb(245, 210, 52)  , #fbeb04);
}
.colors3{
        background-image: linear-gradient(45deg, rgb(79, 57, 245)  , #0415f8);
}
.categories h1{
        color: white;
}
.categories img{
        width: 100px;
}
footer{
    text-align: center;
    color: gray;
}